header>nav {
  background-color: var(--color-fg-2);
  padding: 10px;
  margin: 0;
  /* text-transform: uppercase; */

  &>a {
    padding: 10px;
    margin: 0 25px;
    color: var(--color-bg-1);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
}