.Person {
  background-color: var(--color-bg-2);
  box-shadow: 5px 5px 5px grey;

  &>div:first-child {
    position: relative;

    & img {
      width: 100%;
    }

    & p {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      color: white;
      margin: 0;
      padding: 10px;
      background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
  }

  &>div:nth-child(2) {
    padding: 10px;

    & p {
      margin: 0;

      & span {
        font-weight: bold;
      }
    }
  }
}